altgraph==0.17
APScheduler==3.7.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.5
chardet==3.0.4
chinesecalendar==1.5.0
Deprecated==1.2.10
future==0.18.2
gevent==21.1.2
greenlet==1.1.0
helpdev==0.7.1
idna==2.10
importlib-metadata==3.3.0
lxml==4.6.2
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtChart==5.15.4
PyQtChart-Qt5==5.15.2
python-dateutil==2.8.1
pytz==2020.5
pywin32-ctypes==0.2.0
QtPy==1.9.0
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.56.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
webdavclient3==3.14.5
websockets==6.0
wrapt==1.12.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.4.0
