altgraph==0.17
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
chinesecalendar==1.5.0
future==0.18.2
idna==2.10
lxml==4.6.2
pefile==2019.4.18
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtChart==5.15.2
pywin32-ctypes==0.2.0
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.2
